article {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 238, 243);
    z-index: 1;
}
.rect1, .rect2, .rect3, .rect11, .rect12, .rect13, .rect14 {
    position: absolute;
    z-index: -1;
}

.rect1 {
    left: 17vw;
    top: 4vw;
    width: 60vw;
}
.rect2 {
    width: 30vw;
    right: -15vw;
    top: 11vw;
}
.rect3 {
    width: 25vw;
    left: 4vw;
    top: 23vw;
}
.hidden {
    visibility: hidden;
}

/* шаблоны */
.templates {
    padding-top: 1.5vw;
    border: none;
    /* height: 14vw; */
    background-color: rgb(246, 246, 247);
}

/* ... select ... */
select {
    border: none;
    font-size: 0.6vw;
    padding: 0.5vw 0.5vw;
}
option {
    font-size: 0.6vw;
}
.shadow_select {
    box-shadow: 0 0.1vw 0 0 rgba(0, 0, 0, 0.2);
}
/* ... шаблоны */
.option_template {
    margin-left: 2vw;
}

.templates_gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1.5vw;
    margin-left: 4%;
}
.template_item {
    width: 6.5vw;
    height: 3.5vw;
    border-radius: 0.5vw;
    overflow: hidden;
}
.template_img {
    width: 8vw;
    height: 4.5vw;
}

/* рабочее пространство */
.workspace {
    flex: 1 0 auto;
    width: 83vw;
    padding: 2vw;
}

.wrapper, .wrapper_presentation, .wrapper_presentation_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2vw 0;
}
.workspace_buttons {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.workspace_button {
    background-color: rgb(27, 74, 160);
    box-shadow: 0 0.2vw 0 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 0.8vw;
    width: 12.5vw;
    height: 2.5vw;
    border-radius: 1vw;
    border: none;
    margin-left: 5%;
}
.workspace_button:hover {
    cursor: pointer;
}
.button_icon {
    width: 1vw;
    height: 1vw;
}

.sort {
    background-color: white;
    /* width: 25%; */
    height: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vw;
    padding: 0 0.5vw;
}

/* презентации */
.white {
    background-color: white;
}
.presentation {
    display: flex;
    justify-content: space-between;
    height: 4vw;
    color: white;
    background-color: rgb(27, 74, 160);
    box-shadow: 0.1vw 0.1vw 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin: 0.5vw;
    margin-top: 1vw;
}
.presentation:hover > .wrapper_presentation_info > .hidden {
    visibility: visible;
}
.wrapper_presentation_main {
    width: 33%;
    margin: 0;
}
.wrapper_presentation_main > img {
    width: 6.1vw;
    /* height: 4vw; */
}
.wrapper_presentation {
    width: 20%;
    margin: 0 2vw 0 0;
}
.wrapper_presentation_info {
    width: 40.5%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.wrapper_presentation > img {
    width: 7.1vw;
    height: 4vw;
}
.wrapper_a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2vw 0;
}
.presentation_name {
    width: 15vw;
}
#presentations_point {
    height: 3vw;
    border-radius: 1vw;
}
.wrapper_presentation > p {
    font-size: 1.2vw;
    font-weight: 700;
}
.presentation_info {
    display: flex;
    justify-content: space-between;
    width: 9vw;
}
.presentation_info_logo {
    width: 1.3vw;
    height: 1.3vw;
}
.presentation_info_name {
    font-size: 0.7vw;
    margin-left: -7%;
    margin-top: 2%;
}

.present_button {
    color: white;
    border: none;
    padding: 0.2vw 0.5vw;
    box-shadow: 0 0.2vw 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 1vw;
    cursor: pointer;
    background-color: rgb(9, 28, 63);
}
