.error { 
    position: absolute; 
    top: 7vw; 
    width: 100%; 
    text-align: center; 
    color: red; 
}
.authorization_form {
    transform: scale(0.7);
    margin-top: 6vw;
    width: 30vw;
    margin-left: 35vw;
    height: fit-content;
    padding: 3vw;
    border-radius: 2vw;
    z-index: 100;
    background-color: rgb(28, 66, 136);
    box-shadow: 0 0.1vw 0 0 rgba(0, 0, 0, 0.2);
}
.form_auth {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1vw;
}
.input_auth {
    width: 90%;
    height: 2vw;
    border: 1px solid black;
    padding: 0 1vw;
    font-size: 1vw;
}
.input_str {
    display: flex;
    width: 100%;
    margin: 0 1.5vw;
}
.input_text {
    border-left: none;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}
.input_img {
    width: 2vw;
    height: 2vw;
    border: 1px solid black;
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
}
.form_button {
    height: 2vw;
    border: none;
    background-color: rgb(116, 170, 218);
    color: white;
    border-radius: 0.5vw;
    box-shadow: 0 0.2vw 0 0 rgba(0, 0, 0, 0.3);
}


.shadow {
    position: absolute;
    width: 100%;
    top: 3vw;
    height: 0.8vw;
    background: linear-gradient(rgba(55, 116, 227, 0.3), rgba(255, 255, 255, 0));
}
.rect11 {
    width: 80vw;
    bottom: 2vw;
    left: 1vw;
}
.rect12 {
    width: 23vw;
    right: -11vw;
    top: 5vw;
}
.rect13 {
    width: 35vw;
    left: -11vw;
    top: -8vw;
}
.rect14 {
    width: 10vw;
    right: 12vw;
    bottom: 12vw;
}